@CHARSET "UTF-8";

/* TreeGrid */
.folder_user {
	background-image: url("../images/default/tree/folder_user.png")
		!important;
}

.brick {
	background-image: url("../images/default/tree/brick.png") !important;
}

.brick_edit {
	background-image: url("../images/default/tree/brick_edit.png")
		!important;
}

.brick_add {
	background-image: url("../images/default/tree/brick_add.png") !important;
}

.brick_close {
	background-image: url("../images/default/tree/brick_close.png")
		!important;
}

.brick_delete {
	background-image: url("../images/default/tree/brick_delete.png")
		!important;
}

.report {
	background-image: url("../images/default/tree/report.png") !important;
}

.report_edit {
	background-image: url("../images/default/tree/report_edit.png")
		!important;
}

.report_add {
	background-image: url("../images/default/tree/report_add.png")
		!important;
}

.report_close {
	background-image: url("../images/default/tree/report_close.png")
		!important;
}

.drop-add {
	background-image: url("../images/default/tree/drop-add.gif") !important;
}

.refresh {
	background-image: url("../images/default/grid/refresh.gif") !important;
}

/* Menu */
.printer {
	background-image: url("../images/default/menu/printer.png") !important;
}

.disk {
	background-image: url("../images/default/menu/disk.png") !important;
}

.door_in {
	background-image: url("../images/default/menu/door_in.png") !important;
}

.user_add {
	background-image: url("../images/default/menu/user_add.png") !important;
}

.group {
	background-image: url("../images/default/menu/group.png") !important;
}

.user {
	background-image: url("../images/default/menu/user.png") !important;
}

.user_add {
	background-image: url("../images/default/menu/user_add.png") !important;
}

.user_delete {
	background-image: url("../images/default/menu/user_delete.png")
		!important;
}

.user_edit {
	background-image: url("../images/default/menu/user_edit.png") !important;
}

.admin {
	background-image: url("../images/default/menu/admin.png") !important;
}

.admin_edit {
	background-image: url("../images/default/menu/admin_edit.png")
		!important;
}

.page_white_stack {
	background-image: url("../images/default/menu/page_white_stack.png") !important;
}

.bin_closed {
	background-image: url("../images/default/grid/bin_closed.png")
		!important;
}

.database_lightning {
	background-image: url("../images/default/menu/database_lightning.png")
		!important;
}

.dcs_spreadsheet {
	background-image: url("../images/default/tree/table.png") !important;
}

.dcs_document {
	background-image: url("../images/default/tree/page.png") !important;
}

.dcs_folder {
	background-image: url("../images/default/tree/folder_page_white.png") !important;
}

.page_white_edit {
	background-image: url("../images/default/tree/page_white_edit.png") !important;
}
